<div class="app-card-container">
  <div class="card">
    <h1>Pages#about</h1>
    <hr>
    <div class="row">
      <div class='col-md-5'>
      <%= image_tag "italy-2080072_640.jpg", width: 400, alt: "profile image", class: "profile-img" %>

      </div>
      <div class='col-md-7'>
        Information about me

      </div>
    </div>
  </div>
</div>


