<div class="app-card-container">
  <div class="card">
    <h1>Pages#about</h1>
    <hr>
    <div class="row">
      <div class='col-md-5'>
      <%= image_tag "italy-2080072_640.jpg", width: 400, alt: "profile image", class: "profile-img" %>

      </div>
      <div class='col-md-7'>
        <p>Information about me</p>

        <p>
          <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >

            Job history
          </button>

          <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="jobHistory"
          >

            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Jobs listed here.
            </div>
            <div class="card card-block">
              Jobs listed here.
            </div>
            <div class="card card-block">
              Jobs listed here.
            </div>
          </div>
        </p>
        <p>
          <div class="collapse" id="education">
            <div class="card card-block">
              Education listed here.
            </div>
            <div class="card card-block">
              Education listed here.
            </div>
            <div class="card card-block">
              Education listed here.
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


