<h1>Pages#about</h1>
<hr>
<div class="row">
  <div class='col-md-4'>
  <%= image_tag "italy-2080072_640.jpg", width: 400, alt: "profile image" %>

  </div>
  <div class='col-md-8'>
    Information about me

  </div>
</div>
