<div class="app-card-container">
  <div class="card">
    <h1>Contact</h1>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <p><%= number_to_phone "1112223333" %></p>
        <h3>Email</h3>
        <p><a href="mailto:stephpinion@gmail.com">stephpinion@gmail.com</a></p>
      </div>
      <div class="col-md-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.7340948754163!2d-111.89120668559542!3d40.41474106368623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d7fdb2e48af39%3A0xddc471664cdcc91d!2s2187+N+2450+W%2C+Lehi%2C+UT+84043!5e0!3m2!1sen!2sus!4v1489167770497" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

